

.main h4{
    font-size: 16px;
    margin: 0px;
    padding-bottom: 17px;
}

.showimg{
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

.showimg ul{
    display: flex;
    padding-left: 0px;
    margin: 0px;
}
.showimg ul:last-of-type{
    margin-right: 51px;
}
.showimg a{
    text-decoration: none;
    background-color: #703112;
    box-shadow: 2px 2px 5px #666; /* tao bong */
}


.title-img{
    padding: 8px 13px;
    color: white;
    letter-spacing: -.5px;
    text-align: center;
    font-size: 12.96px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.showimg ul li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 25%;
    margin-right: 17px;
    margin-bottom: 17px;
}
.showimg ul li:last-of-type{
    margin-right: 0px;
}

img{  /*để đảm bảo rằng tất cả các hình ảnh đều sử dụng tất cả không gian có sẵn,
         giữ nguyên tỷ lệ và không cắt giảm: */
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
