body{
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #F6F6F6 !important;
}

/*.............Title...............  */

#title{
    font-size: 12.24px;
    margin-bottom: 40px;
    margin-top: 20px;
}
#title a{
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    color: black;
}
#title a:hover{
    text-decoration: underline;
}

.container2 h3,h4,h2{
    color: #703112;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.container2 h2{
    font-size: 20.16px;
}

/*.............Main...............  */

.main h3{
    font-size: 16px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.main strong{
    color: #703112;
    font-weight: bold;
}
.main p{
    margin: 0px;
    padding-bottom: 17px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif!important;
    line-height: normal;

}
.showimg a:hover{
    text-decoration: none;
    color: white;
}


/*.............Search...............  */

.search{
    display: block;
    margin-bottom: 50px;
}
.search ul{
    margin: 0px;
    padding: 0px;
}
.search h5{
    margin: 0px;
    font-size: 11.52px;
    font-weight: bold;
}
.search a{
    margin: 0px auto;
    font-size: 11.52px;
    text-decoration: none;
    color: #000 !important;
}
.search a:hover{
    text-decoration: underline;
}
.search li{
    display: inline-block;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}