.clear {
    clear: both;
}


/* ...............Outer..................*/
.Outer{
    width: 100%;
    margin-top: 5px;
}
.show-slide{
    clear: both;
    width: 1132px;
    margin: 0 auto;
}
/* ................home-pagelist............... */
.home-pagelist{
    clear: both;
    width: 1132px;
    margin: 0 auto;
}
.page-list-h2{
    color: #703112;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 20px 0;
    font-family: Verdana, Geneva, sans-serif;
}
.title-under_h2{
    margin-bottom: 30px;
}
.title-img{
    background: url("../images/pagelist.png") no-repeat center;
    width: 100%;
    height: 34px;
}
.title-text{
    text-align: center;
    padding: 20px 0;
}
.rounded-circle{
    margin: 0 20px; 
    box-shadow: 0px 0px 6px #444;
    transition: all .5s;
}
.blockcontent-text{
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 18px;
    text-align: center;
}
.blockcontent-text-h4{
    color: #703112;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.05em;
    letter-spacing: -.1px;
}
#page-list-inside a{
    text-decoration:none;
}
.view-more{
    padding: 4px 10px 6px;
    color: #fff;
    font-weight: normal;
    background: #703112;
    border-radius: 2px;
    border-bottom: 2px solid #333;
    border-right: 1px solid #333;
}
.a:hover:hover .rounded-circle,
.a:active:active .rounded-circle{
    filter: blur(2px);
    filter: brightness(50%);
    transition: all .3s;
}
.blockcontent-text:hover .view-more,
.blockcontent-text:active .view-more{
    color: #fff;
    filter: opacity(80%);
    transition: all .3s;
}
/* ..............Products............. */
.BlockProducts{
    clear: both;
    width: 1132px;
    margin: 0 auto;
}
.title-text a{
    color: #703112;
    font-weight: bold;
    text-decoration: underline;
}
#card-list{
    height: 230px;
    width: 369px;
    display: table-cell;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}
.card-body{
    min-height: 19px;
    max-width: 369px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.card-text{
    color: #703112;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    border-bottom: 1px dashed #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -18px;
}
.a:hover:hover .card-img-top,
.a:active:active .card-img-top{
    filter: blur(2px);
    filter: brightness(50%);
    transition: all .3s;
}
.card-body:hover:hover .card-text,
.card-body:active:active .card-text{
    color: #703112;
    text-decoration:none;
}
